/* Навигация */
.nav-header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 50px 70px;
  backdrop-filter: blur(28.399999618530273px);
  background: rgba(255, 255, 255, 0.281);
  z-index: 900;
}

.logo {
  position: relative;
  display: block;
  z-index: 1002;
}

.nav-dropdown {
  padding: 15px 20px;
  text-transform: uppercase;
  border-radius: var(--radius-sm);
  background-color: var(--secondary-color);
  color: white;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1002;
}

.nav-dropdown h6 {
  font-family: var(--font-text);
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
}

.nav-dropdown:hover {
  background-color: #424242;
}

.nav-dropdown.active {
  background-color: var(--primary-color);
}

.menu-wrapper {
  position: relative;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  z-index: 1000;
}

.menu-content {
  position: absolute;
  top: calc(100% + 15px);
  right: 0;
  background-color: var(--secondary-color);
  border-radius: var(--radius-medium);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 12px;
  min-width: 250px;
  z-index: 1001;
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-nav {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.menu-nav * h6 {
 text-transform: uppercase;
}

.menu-link {
  min-width: 250px;
  padding: 12px 20px;
  border-radius: var(--radius-sm);
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
}

.menu-link h6 {
  font-family: var(--font-text);
  font-weight: 500;
  font-size: 16px;
  margin: 0;
}

.menu-link:hover {
  background-color: var(--accent-color-2);
  color: var(--primary-color);
  padding-left: 25px;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  transition: color 0.2s;
}

.nav-link:hover {
  color: var(--primary-color);
}

.menu-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;
  padding-left: 25px;
}

.footer-link {
  max-width: max-content;
  color: white;
  text-decoration: none;
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

/* Футер */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 60px 0;
  margin-top: 150px;
}

.footer-text {
  opacity: 0.7;
  font-size: 14px;
  text-align: center;
}