@font-face {
  font-family: 'Carabine';
  src: url(/fonts/Carabine-Medium.vfc.otf);
  font-weight: 500;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  font-family: 'Manrope', sans-serif;
  color: var(--secondary-color);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Carabine', serif;
  font-weight: 500;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
