@font-face {
  font-family: 'Carabine';
  src: url(/fonts/Carabine-Medium.vfc.otf);
  font-weight: 500;
}

:root {
  --primary-color: #FF6C36;
  --primary-hover: #ff8559;
  --primary-active: #e65a2b;
  
  --secondary-color: #333333;
  --accent-color-1: #FBD9D5;
  --accent-color-2: #FFE2D7;

  --bg-color: #ffffff;
  --text-main: var(--secondary-color);
  --text-secondary: #7A7A7A;
  
  --success-color: #52c41a;
  --error-color: #ff4d4f;
  --warning-color: #faad14;
  
  --radius-base: 24px;
  --radius-medium: 18px;
  --radius-sm: 7px;

  --font-title: 'Carabine', Roboto, sans-serif;
  --font-text: 'Manrope', sans-serif;
}
